@import '../../node_modules/bootstrap3/less/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'bs-overrides';

html, body { height: 100%;}
body {
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

#home, #about, #services, #clients, #contact {
  position: relative;
  top: -100px;
}

//fonts
.roboto-bold {
  font-family: @font-family-sans-serif;
  font-weight: 700;
}

//button
.btn-ghost {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 0;
  &:hover {
    color: rgba(255,255,255,0.8);
  }
}

//flex container for sticky footer
.content { flex: 1 0 auto;}

//Navbar
.navbar-dark {
  background: @brand-primary;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.navbar {
  .navbar-header {
    .navbar-brand {
      height: @navbar-height;
      padding: 10px 15px;
      img { width: 100%; max-width: 100px;}
    }
  }
  @media (max-width: @screen-xs-max) {
    min-height: @navbar-mobile-height;
    .navbar-header {
      .navbar-brand {
        height: @navbar-mobile-height;
        img { max-width: @navbar-mobile-height;}
      }
      .navbar-toggle { margin: 20px;}
    }
    .navbar-scrollspy {
      .navbar-collapse {
        background: @brand-primary;
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
}

//background blue for sections & footer
.bg-blue {
  background: @brand-primary;
  .section-title { color: #fff;}
  p { color: #fff;}
}

//centers horizontally & vertically using flex
.perfect-center {
  display: flex;
  height: 100%;
  .center-block {
    text-align: center;
    margin: auto;
    width: 100%;
  }
}

//Banner arrow Animation
.arrow-down {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  background: url(../img/ic-downarrow@2x.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  &:hover { animation: bounce 0.5s linear infinite;}
}
@keyframes bounce {
  0% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  50% { transform:translateY(-20%);}
  100% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
}

section {
  min-height: 400px;
  padding: 5em;
  .section-title {
    color: @brand-primary;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
    margin: auto;
    &.lrg-text {
      font-size: 45px;
      font-weight: 300;
      color: #fff;
    }
  }
  p { color: @brand-primary;}
  &.banner {
    height: 100vh;
    background: @brand-primary url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
    .lrg-text {
      width: 100%;
      max-width: 500px;
    }
  }
  &.about {
    img {
      width: 100%;
      max-width: 80px;
      margin-bottom: 20px;
    }
    p {
      width: 100%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      line-height: 25px;
    }
  }
  &.services {
    .services-offered {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .service-block {
        margin: 10px 30px;
        .img-block {
          width: 100%;
          max-width: 70px;
          min-height: 70px;
          margin: auto;
          img { width: 100%;}
        }
      }
    }
  }
  &.clients {
    .client-logo {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1000px;
      .client-block {
        border: 1px solid @brand-primary;
        border-radius: 5px;
        padding: 20px;
        margin: 15px;
        min-height: 110px;
        position: relative;
        width: 150px;
        img {
          transform: translateY(-50%);
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          max-width: 130px;
        }
      }
    }
  }
  &.contact {
    .contact-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .map, iframe { width: 100%; max-width: 600px;}
      .contact-details {
        ul {
          text-align: left;
          margin-bottom: 0;
          li {
            list-style-type: none;
            padding: 10px 0;
            img {
              margin-right: 10px;
              width: 100%;
              max-width: 20px;
              vertical-align: text-bottom;
            }
            span, a {
              color: #fff;
              &:hover {
                color: rgba(255,255,255,0.8);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: @screen-xs-max) {
    padding: 2rem;
    .section-title {
      font-size: 30px;
      &.lrg-text { font-size: 30px;}
    }
  }
  @media (max-width: @screen-sm-max) {
    &.contact {
      .map{ order: 2;}
      .contact-details{
        order: 1;
        ul {
          padding-left: 0;
          margin-bottom: 30px !important;
          li { padding: 5px 0 !important;}
        }
      }
    }
  }
}
footer {
  flex-shrink: 0;
  height: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding: 15px;
}
